<form asp-action="Index">
<label> Nhap EmployeeID:</label>
<input type ="text" name="EmployeeID">
<label> Nhap tuoi:</label>
<input type ="text" name="Age">
<input type="submit" value ="gui du lieu">
</form>
<h1>Du lieu tu Controller gui ve la: @ViewBag.InfoPerson</h1>